.App {
  text-align: center;
  margin: 2rem;
  color: white;
}

.error {
  
}

.username {
  font-family: 'Avenir-Roman'; 
  color: rgb(180, 180, 180);
  font-weight: 100;
}

.post-title {
  font-family: 'Avenir-Black'; 
  font-size: 40px;
}